
/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Unica+One&family=Yeseva+One&display=swap');

/* =================== global variables =================== */
:root {
	--primary-bg-colour: #FBEDED;
	--primary-font-colour: #34282C;
	--primary-accent-pink: #DF7C7D;
	--primary-accent-light-pink: #E8CBCA;
	--primary-accent-brown: #584346;
	--primary-accent-white: #F5F5F5;

	--std-transition: all 0.2s ease-in-out;
}

/* =================== reset default styles =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================== base page styles =================== */
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--primary-bg-colour);
	color: var(--primary-font-colour);
}

/* =================== font styles =================== */
.main-header {
	font-family: 'Yeseva One', cursive;
	font-size: 7em;
	font-weight: normal;
}

.nav-link {
	font-family: 'Unica One', cursive;
	font-size: 90px;
	font-weight: normal;
}

.button {
	font-family: 'Unica One', cursive;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;

	background-color: var(--primary-accent-pink);
	border: 2px solid var(--primary-accent-brown);
	color: var(--primary-accent-white);
	border-radius: 1000px;
	padding: .3rem .8rem;
	transition: var(--std-transition);
}

.button:hover {
	box-shadow: -3px 3px var(--primary-accent-brown);
	transition: var(--std-transition);
}

/* for buttons with <a> tags */
.button-link {
	font-family: 'Unica One', cursive;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--primary-accent-white);
	text-decoration: none;
}

h1 {
	font-family: 'Unica One', cursive;
	font-size: 48px;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	font-family: 'Noto Serif', serif;
	font-size: 32px;
	font-weight: normal;
}

h3 {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	font-weight: normal;
}

p {
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	font-weight: normal;
}

/* =================== constants =================== */
.main-grid {
	display: grid;
	padding: 2rem;
}

/* ---------- scroll button ---------- */
.mobile.top {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;

	background-color: var(--primary-accent-brown);
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	box-shadow: 2px 2px 5px rgba(88, 67, 70, 45%);

	display: flex;
	justify-content: center;
	align-items: center;
}

.mobile.top:hover {
	cursor: pointer;
}

.mobile.top span {
	font-size: 2rem;
}

/* ---------- navigation ---------- */
nav.navigation {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;

	z-index: 2;
	padding: 0.5rem;
	background-color: var(--primary-accent-brown);
	
	display: none;
}

.nav-list {
	list-style: none;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.nav-item {
	text-align: right;
}

.nav-link {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

/* ---------- nav header (desktop and mobile) ---------- */
.nav-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.nav-header p {
	color: var(--primary-accent-pink);
	text-transform: uppercase;
	font-size: 14px;
}

/* ---------- menu toggles ---------- */
/* open toggle */
.menu-toggle.open {
	width: 3rem;
	height: 3rem;
	padding: .5rem;
	background-color: var(--primary-bg-colour);
	border: none;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* the lines for opening the menu */
.menu-toggle.open::before {
	content: '';
	position: relative;
	width: 28px;
	height: 2px;
	background: var(--primary-accent-pink);
	transform: translateY(-5px);
	transition: .2s;
}

.menu-toggle.open::after {
	content: '';
	position: absolute;
	width: 28px;
	height: 2px;
	background: var(--primary-accent-pink);
	transform: translateY(5);
	transition: .2s;
}

/* close toggle */
.exit-container {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu-toggle.close {
	width: 90px;
	height: 90px;
	padding: .5rem;
	background-color: var(--primary-accent-brown);
	
	border: none;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-toggle.close::before {
	content: '';
	position: relative;
	width: 61px;
	height: 4px;
	background-color: var(--primary-accent-white);
	transform: rotate(45deg);
}

.menu-toggle.close::after {
	content: '';
	position: absolute;
	width: 61px;
	height: 4px;
	background-color: var(--primary-accent-white);
	transform: rotate(-45deg);
}

/* ---------- main section ---------- */
#main {
	text-align: center;
	margin: 6rem 0;
}

/* ---------- skills section ---------- */
#skills h1 {
	margin-bottom: 2rem;
}

.skills-container {
	display: grid;
	gap: 2rem;
}

.skill {
	background-color: var(--primary-accent-light-pink);
	border: 2px solid var(--primary-accent-brown);
	box-shadow: 0px 4px var(--primary-accent-brown);
	border-radius: 20px;
	padding: 1rem;

	/* the smallest it can get */
	min-width: 15rem;

	/* the largest it can get */
    max-width: 20rem;
    min-height: 10rem;

	margin: 0 auto;
	
	display: grid;
	grid-template-rows: max-content;
	transition: var(--std-transition);
}

.hastag {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

/* ---------- project section ---------- */
#projects {
	margin-top: 5rem;
}

#projects h1 {
	margin-bottom: 2rem;
}

.project-container {
	display: grid;
	gap: 3rem;
}

/* all projects */
.project {
	border-radius: 20px;
	border: 2px solid var(--primary-accent-brown);
	overflow: hidden;
	box-shadow: 0px 4px var(--primary-accent-brown);
	background-color: var(--primary-accent-light-pink);
}

/* project image */
.pj-img img {
	width: 100%;
	border-bottom: 2px solid var(--primary-accent-brown);
	transition: all 0.5s ease-in-out;
}

/* project text container */
.pj-text {
	padding: 1rem;
}

/* project header text */
.pj-text .top {
	padding-bottom: .5rem;
}

.pj-text .top p {
	font-size: 14px;
}

/* project buttons */
.pj-text .bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.pj-text .bottom {
	padding-top: .5rem;
}

/* ---------- about section ---------- */
#about {
	display: grid;
	gap: 1.5rem;
	margin: 5rem 0;
}

#about h1 {
	margin-bottom: 1rem;
}

#email {
	display: block;
	color: var(--primary-accent-pink);
}

.contact, .about-me {
	border: 2px solid var(--primary-accent-brown);
	padding: 1.5rem;
	border-radius: 20px;
	box-shadow: 0px 4px var(--primary-accent-brown);
	background-color: var(--primary-accent-white);
	transition: var(--std-transition);
	background-color: var(--primary-accent-white);
}

.about-me a {
	color: var(--primary-accent-pink);
}

.subtext {
	font-size: 14px;
}

/* ---------- footer ---------- */
footer #footer {
	margin-bottom: 1rem;
}

footer .socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer .socials a {
	color: var(--primary-accent-pink);
	text-decoration: none;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer .socials span {
	font-size: 20px;
	margin-left: .2rem;
}

#hr-line {
	margin: .5rem 0;
	border: 1px solid var(--primary-accent-light-pink);
}

footer .copyright {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

footer .copyright * {
	font-size: 14px;
}

footer .copyright p {
	color: var(--primary-accent-light-pink);
	transition: var(--std-transition);
}

/* scroll up button */
footer .button-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer .button-link span {
	margin-left: .5rem;
	font-size: 16px;
}

/* =================== media queries =================== */

/* =================== MOBILE =================== */
@media only screen and (max-width: 40em) {

	/* ---------- mobile constants ---------- */
	.main-grid {
		grid-template-columns: repeat(4, 1fr);
		padding: 1rem;
	}

	.nav-header, #main, #skills, #projects, #about, #footer {
		grid-column: span 4;
	}

	/* ---------- main section ---------- */
	#main {
		margin: 9rem 0;
	}

	.main-header {
		font-size: 2em;
	}

	/* ---------- skills section ---------- */
	/* skills container grid */
	.skills-container {
		grid-template-columns: 1fr;
	}

	.skill {
		min-width: 100%;
	}

	/* ---------- about section ---------- */
	#about {
		grid-template-rows: min-content min-content;
	}

	.contact, .about-me {
		grid-row: span 1;
	}

	.contact h2 {
		font-size: 18px;
		text-align: center;
	}
	/* ---------- footer section ---------- */
	footer {
		display: none;
	}
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	/* ---------- tablet constants ---------- */
	.main-grid {
		grid-template-columns: repeat(6, 1fr);
		padding: 1.5rem;
	}

	.project-container .button:hover, .menu-toggle.open:hover {
		cursor: pointer;
	}

	.nav-header, #main, #skills, #projects, #about, #footer {
		grid-column: span 6;
	}

	.menu-toggle.close:hover, .menu-toggle.open:hover {
		cursor: pointer;
	}

	.mobile.top {
		display: none;
	}

	/* ---------- main section ---------- */
	#main {
		margin: 10rem 0;
	}

	.main-header {
		font-size: 4em;
	}

	/* ---------- skills section ---------- */
	/* skills container grid */
	.skills-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.skill {
		min-width: 80%;
	}

	/* ---------- about section ---------- */
	#about {
		grid-template-rows: min-content min-content;
	}

	.contact, .about-me {
		grid-row: span 1;
	}

	/* ---------- footer section ---------- */
	footer#footer {
		margin-top: 5rem;
	}

}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	.main-grid {
		grid-template-columns: repeat(12, 1fr);
		padding: 1rem;
	}

	.nav-header, #main, #skills, #projects, #about, #footer {
		grid-column: span 12;
	}

	.mobile.top {
		display: none;
	}

	/* ---------- hover events ---------- */
	.exit-container button:hover, 
	.menu-toggle.open:hover,
	.project-container .button:hover,
	footer a, footer .button {
		cursor: pointer;
	}

	.nav-link:hover {
		color: var(--primary-accent-pink);
		transition: var(--std-transition);
	}

	.skill:hover {
		box-shadow: -8px 8px var(--primary-accent-brown);
		transition: var(--std-transition);
	}

	.contact:hover, .about-me:hover {
		box-shadow: -8px 8px var(--primary-accent-brown);
		transition: var(--std-transition);
	}

	.socials a:hover {
		color: var(--primary-accent-brown);
		transition: var(--std-transition);
	}

	footer .copyright p:hover {
		color: var(--primary-font-colour);
		transition: var(--std-transition);
	}

	/* ---------- main section ---------- */
	
	/* ---------- skills section ---------- */
	.skills-container {
		grid-template-columns: repeat(4, 1fr);
	}

	/* ---------- project section ---------- */
	.project-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.project {
		grid-column: span 1;
	}

	/* ---------- about section ---------- */
	#about {
		grid-template-columns: repeat(2, 1fr);
	}

	.contact, .about-me {
		grid-column: span 1;
	}

	#about .contact, 
	#about .about-me {
		margin: 0 auto;
	}

	.about-me {
		width: 70ch;
	}

	/* ---------- footer section ---------- */
	.socials {
		padding: 0 2rem;
	}

	.copyright {
		padding: 0 2rem;
		margin-top: 1rem;
	}
}