---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Navigation current="about" />
	<main
		class="about-wrapper col-span-4 md:col-span-6 lg:col-span-6 lg:col-start-4"
	>
		<h2 class="title mb-4">About Me</h2>
		<p class="mb-4">
			I am a Maryland-based web developer driven by a passion for creativity and
			innovation, and often inspired by the work of other talented designers. My
			journey into web development began with a deep appreciation for design but
			soon evolved into a calling to build and create. As a person, I strive to
			help people with their creative needs. As a developer, I strive to balance
			inspiration, and accessibility, crafting websites that are not
			only functional but also engaging and user-friendly.
		</p>
		<p class="mb-4">
			My approach is rooted in the belief that good design and development
			should work seamlessly together, producing experiences that captivate and
			inspire. While I was initial "forced" into the world of design, I have come
			to see design and development as interdependent.
		</p>
		<p class="mb-4">
			I thrive in the creative process, finding it both addictive and endless
			fulfilling. I am particularly passionate about working
			on projects that challenge me to think differently and grow as both a
			developer and a designer. As a junior developer and recent graduate, I am
			always seeking opportunities to strengthen my skills and broaden my
			knowledge. I am eager to tackle new challenges, embrace emerging
			technologies, and contribute to projects that push the boundaries of
			creativity and innovation.
		</p>
		<p class="mb-4">
			I work with a modern web tech stack including HTML, CSS, JavaScript,
			Next.js, React, Astro, Typescript, Supabase, and Xata.io. 
		</p>
		<p class="mb-4">
			I would be thrilled to bring my skills and enthusiasm to a creative agency or
			collaborate with a like-minded individuals on exciting new projects. With
			every line of code, I aim to leave a lasting impact,
			making digital experiences as memorable as the journeys that inspire them.
		</p>
	</main>
</Layout>
