---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Navigation current="about" />
	<main
		class="about-wrapper col-span-4 md:col-span-6 lg:col-span-6 lg:col-start-4"
	>
		<h2 class="title mb-4">About Me</h2>
		<p class="mb-4">
			I’m a Maryland-based web developer driven by a passion for creativity and
			innovation, often inspired by the work of other talented designers. My
			journey into web development began with a deep appreciation for design but
			soon evolved into a calling to build and create. As a developer, I strive
			to balance simplicity, inspiration, and accessibility, crafting websites
			that are not only highly functional but also engaging and user-friendly.
		</p>
		<p class="mb-4">
			My approach is rooted in the belief that good design and development
			should work seamlessly together, producing experiences that captivate and
			inspire. While I was initial "forced" into the world of design, I've come
			to see it as foundation for my work as a developer -- one that fuels my
			imagination and pushes me to explore the boundless possibilities of the
			digital world.
		</p>
		<p class="mb-4">
			I thrive in the creative process, finding it both addictive and endless
			fulfilling. Whether it's designing interfaces, building intuitive
			features, or collaborating on visionary projects, I'm driven by the desire
			to create something meaningful. I'm particularly passionate about working
			on projects that challenge me to think differently and grow as both a
			developer and a designer. As a junior developer and recent graduate, I am
			always seeking opportunities to strengthen my skills and broaden my
			knowledge. I'm eager to tackle new challenges, embrace emerging
			technologies, and contribute to projects that push the boundaries of
			creativity and innovation.
		</p>
		<p class="mb-4">
			I work with a modern web tech stack including HTML, CSS, JavaScript,
			Typescript, React, Next.js, Astro.
		</p>
		<p class="mb-4">
			I'd be thrilled to bring my skills and enthusiasm to a creative agency or
			collaborate with a like-minded individuals on exciting new projects. With
			every line of code and every pixel place, I aim to leave a lasting impact,
			making digital experiences as memorable as the journeys that inspire them.
		</p>
	</main>
</Layout>
