---
import Gallery from "../components/Gallery.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
	<Navigation current="photography" />

	<section class="photography-wrapper col-span-4 md:col-span-6 lg:col-span-12">
		<div class="quote-wrapper p-4 text-center italic">
			<p>
				"Photography is an art of observation. It's about finding something
				interesting in an ordinary place... I've found it has little to do with
				the things you see and everything to do with the way you see them." -
				Elliott Erwitt
			</p>
		</div>
		<Gallery collection_name={"cloudinary_photography"}/>
	</section>
</Layout>
