---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Navigation current="photography" />
	<section class="photography-wrapper col-span-4 md:col-span-6 lg:col-span-12">
		<h2>My Photographs</h2>
		<div class="photographs-wrapper"></div>
	</section>
</Layout>
