/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* light 300; reg 400; medium 500; semibold 600 ; bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Sansita+Swashed:wght@500&display=swap');
/* medium 500 */
/* ---------- sub-header ---------- */

/* =================== global variables =================== */
:root {
	--primary-bg-colour: #FBEDED;
	--primary-font-colour: #34282C;
	--primary-dark-brown: #584346;
	--primary-dark-pink: #DF7C7D;
	--std-transition: all .2s ease-in-out;
}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* =================== base page styles =================== */
html {
	scroll-behavior: smooth;
	/* may not work in safari or windows; cannot control speed */
}

body {
	font-family: 'Quicksand', sans-serif;
	background-color: var(--primary-bg-colour);
	color: var(--primary-font-colour);
}

.main-grid {
	display: grid;
}

/* =================== font styles =================== */
h1 {
	font-weight: 400;
	font-size: 40px;
}

h2 {
	font-weight: 500;
	font-size: 30px;
}

h3 {
	font-weight: 500;
	font-size: 20px;
}

p {
	font-weight: 400;
	font-size: 16px;
}

.emp {
	font-family: 'Sansita Swashed', cursive;
	font-size: 30px;
}

/* =================== constants =================== */
.menu-toggle {
	padding: .2rem;
	background-color: var(--primary-bg-colour);
	border: none;
}

/* ---------- mobile navigation ---------- */
#overlay {
	position: fixed;
	top: 0;
	right: 0;

	background-color: rgba(88, 67, 70, 70%);
	width: 100%;
	height: 100%;

	display: none;
}

#mobile.navigation {
	position: fixed;
	top: 0;
	right: 0;

	background-color: var(--primary-bg-colour);
	width: 17rem;
	height: 35rem;
	border-radius: 10px 0 10px 10px ;
	padding: 1rem;

	display: none;
}

.toggle-container.close {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.menu-toggle.close:hover, 
.menu-toggle.open:hover {
	cursor: pointer;
}

.navigation-header.mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* logo container */
.logo-container a {
	text-decoration: none;
	color: var(--primary-font-colour);
}

.nav-list.mobile .nav-item {
	margin-left: 2rem;
}

.nav-list.mobile .nav-item:first-child {
	margin-top: 5rem;
}

.nav-list.mobile .nav-item:not(:last-child) {
	margin-bottom: 2rem;
}

.nav-item {
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: var(--primary-font-colour);
}
/* ---------- header container ---------- */
.header-container {
	text-align: center;
}

.header-container p {
	margin-top: 1rem;
}

.header-btns-container {
	margin-top: 3rem;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.header-btns-container button {
	background-color: var(--primary-dark-brown);
	border: none;
	border-radius: 1000px;
	width: 9rem;
	padding: 1rem 0;
}

.header-btns-container button a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

/* ---------- project container ---------- */
.project-container {
	display: grid;
}

/* ---------- about container ---------- */
.socials {
	text-align: center;
}

/* =================== MOBILE =================== */
@media only screen and (max-width: 40em) {
	.main-grid {
		grid-template-columns: repeat(4, 1fr);
		padding: 1.5rem;
	}

	.main-grid section {
		grid-column: span 4;
	}

	/* hide desktop navigation */
	#desktop.navigation {
		display: none;
	}

	/* ---------- mobile nav header ---------- */
	.navigation-header.mobile {
		grid-column: span 4;
	}

	/* ---------- header container ---------- */
	.header-container {
		margin: 50vw 0;
	}

	/* ---------- skills container ---------- */
	.skills-container {
		margin-bottom: 6rem;
	}

	.skills-container h2 {
		margin-bottom: 1rem;
	}

	/* hide desktop skills */
	#desktop.my-skills {
		display: none;
	}

	#mobile.my-skills {
		margin-left: 1rem;
	}

	.skill:not(:last-child) {
		margin-bottom: 1rem;
	}

	.skill p {
		margin-bottom: .5rem;
	}

	.bar.outer {
		width: 100%;
		background-color: var(--primary-bg-colour);
	}

	.bar.inner {
		text-align: right;
		padding: 5px 10px;
		color: white;
	}

	#html {
		width: 90%;
		background-color: var(--primary-dark-pink);
	}

	#css {
		width: 70%;
		background-color: var(--primary-dark-pink);
	}

	#jq {
		width: 40%;
		background-color: var(--primary-dark-pink);
	}
	
	/* ---------- project container ---------- */
	.project-container {
		grid-template-columns: 1fr;
		margin-bottom: 6rem;
	}

	.project-container h2 {
		margin-bottom: 1.5rem;
	}

	.project {
		grid-column: span 1;
	}

	.project:not(:last-child) {
		margin-bottom: 4rem;
	}

	.project-img-container {
		margin-bottom: .5rem;
	}

	/* disable a tag */
	.project-link.desktop {
		pointer-events: none;
	}

	.project-link.desktop img {
		width: 100%;
	}

	/* project description container */
	.project-description-container h3, .project-description-container p {
		margin-bottom: .3rem;
	}

	/* container that has the links */
	.github-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.github-container a {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		text-decoration: none;
		color: var(--primary-dark-pink);
	}

	.github-container span {
		font-size: 14px;
	}

	/* ---------- about container ---------- */
	.about-container {
		margin-bottom: 6rem;
	}
	.abt-me-container h2, .abt-me-container p {
		margin-bottom: 1rem;
	}
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.main-grid {
		grid-template-columns: repeat(6, 1fr);
		padding: 1.5rem;
	}

	.main-grid section {
		grid-column: span 6;
	}

	/* hide desktop nav */
	#desktop.navigation {
		display: none;
	}

	/* ---------- mobile nav header ---------- */
	.navigation-header.mobile {
		grid-column: span 6;
	}

	/* ---------- header container ---------- */
	.header-container {
		margin: 50vw 0;
	}

	/* ---------- skills container ---------- */
	.skills-container {
		margin-bottom: 6rem;
	}

	.skills-container h2 {
		margin-bottom: 1rem;
	}

	/* hide desktop skills */
	#desktop.my-skills {
		display: none;
	}

	#mobile.my-skills {
		margin-left: 1rem;
	}

	.skill:not(:last-child) {
		margin-bottom: 1rem;
	}

	.skill p {
		margin-bottom: .5rem;
	}

	.bar.outer {
		width: 100%;
		background-color: var(--primary-bg-colour);
	}

	.bar.inner {
		text-align: right;
		padding: 5px 10px;
		color: white;
	}

	#html {
		width: 90%;
		background-color: var(--primary-dark-pink);
	}

	#css {
		width: 70%;
		background-color: var(--primary-dark-pink);
	}

	#jq {
		width: 40%;
		background-color: var(--primary-dark-pink);
	}

	/* ---------- project container ---------- */
	.project-container {
		grid-template-columns: 1fr;
		margin-bottom: 6rem;
	}

	.project-container h2 {
		margin-bottom: 1.5rem;
	}

	.project {
		grid-column: span 1;
	}

	.project:not(:last-child) {
		margin-bottom: 4rem;
	}
	.project-img-container {
		margin-bottom: .5rem;
	}

	/* disable a tag */
	.project-link.desktop {
		pointer-events: none;
	}

	.project-link.desktop img {
		width: 100%;
	}

	/* project description container */
	.project-description-container h3, .project-description-container p {
		margin-bottom: .3rem;
	}

	/* container that has the links */
	.github-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.github-container a {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		text-decoration: none;
		color: var(--primary-dark-pink);
	}

	.github-container span {
		font-size: 14px;
	}

	/* ---------- about container ---------- */
	.about-container {
		margin-bottom: 6rem;
	}
	.abt-me-container h2, .abt-me-container p {
		margin-bottom: 1rem;
	}
}